<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>我的消息</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>

</head>
<body style="background: url(../static/images/top_image.jpg) no-repeat;background-size:100%;font-size: 15px;">
{% include "common/header.html" %}<!--引入网页的头部模板-->
<br>

<div class="container">
    <h1 class="text-info">{{user_name}}的消息</h1>
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-2">
            <img class="img-thumbnail " style="width:150px;height:150px;"
                 src="{{url_for('static', filename='images/user/'+user_id|string+'/head.jpg')}}"/>
        </div>
        <br><br><br><br><br>
        <div class="col-md-4 text-info" style="font-size:35px;">用户名：{{user_name}}</div>
    </div>
    <br><hr><br>
    <div class="row">

        {% for id in id %}
        <a href={{url_for("chat.index",user_id=id)}}>
            <div class="panel panel-default"  style="border-radius: 15px;">
                <div class="panel-body row">
                    <div class="col-md-12">

                        <div class="wrap" style="width:55px;
                                                margin-bottom:0px;
                                                position:relative;">
                            <div class="img">
                                <img class="img-circle pull-left" style="width:55px;height:55px;"
                                     src="{{url_for('static', filename='images/user/'+id|string+'/head.jpg')}}">
                            </div>
                            {% if has_check[loop.index0] %}
                            <div class="notice" style="width:16px;
                                                        height:16px;
                                                        background-color:#f00;
                                                        border-radius:50%;
                                                        position:absolute;
                                                        right:0px;
                                                        top:0px;">
                            </div>
                            {% endif %}
                        </div>
                        <!--                        <img class="img-circle pull-left" style="width:40px;height:40px;"-->
                        <!--                             src="{{url_for('static', filename='images/user/'+id|string+'/head.jpg')}}">-->
                        <div>
                            <div style="margin-left:75px;vertical-align:middle;font-size:22px;color:black;">{{name[loop.index0]}}</div>
                            <div style="margin-left:75px;font-size:18px;color:#696969;">{{chat_history[loop.index0]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
</body>
</html>