<title>CHAT</title>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/minejs.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var sever_url='http://' + document.domain + ':' + location.port + '/test'
    var user_me=eval("{{user_me|safe}}")
    var user_other=eval("{{user_other|safe}}")
    var room_id;
    $(document).ready(function(){
      //定义初始化函数
      
      var socket = io.connect(sever_url);
      
      //定义起始,比如进入房间等行为
      socket.emit('enter_room',{'user_id1': user_me,'user_id2': user_other})
      
      //定义起始函数对应后端的响应函数比如后端返回的历史记录，打印在方块内
      socket.on('has_enter', function(msg) 
      {
        room_id=msg['room_id'];
        var chat_history=JSON.parse(msg['chat_history']);
        for (var iter in chat_history){
          var new_iter=chat_history[iter];
          for(var p in new_iter){
            $('#log').append('<p>' +p+':'+new_iter[p] + '</p>')
          }
        }
      });
      //socket.on('leave', function(msg) {$('#log').append('<p>Received: ' + "someone_has_leave" + '</p>');});
      //定义监听函数，接受消息
      socket.on('accept_message', function(msg) {$('#log').append('<p>' + msg['publisher']+':'+msg['data'] + '</p>');});
      

      //定义在房间内行为
      $('form#send_room').submit(function(event) {
        socket.emit('new_message', {"user_id": user_me,"room_id": room_id,'content':$('#room_data').val()});
        return false;
      });
  
    });

</script>



<h2>Receive:</h2>
<div id="log" style=" overflow:scroll; width:400px; height:400px;"></div>
<form id="send_room" method="POST" action="#">
    <input type="text" name="room_data" id="room_data" placeholder="Message">
    <input type="submit" value="Send to Room">
</form>