<title>CHAT</title>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .chat_commento{
        width: 450px;
        height: 650px;
        margin: auto;
        border-radius: 10px;
        border: 2px solid #f4f5f7;
    }
    .clearfix::after{
        content: "";
        display: block;
        clear: both;
        width: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
    /* top */
    .chat_top{
        width: 100%;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 20px;
        font-size: 20px;
        line-height: 50px;
        box-sizing: border-box;
        font-weight: 550;
        border-width: 0px;
    }
    /* middle */
    /* 左边 */
    .chat_middle{
        width: 450px;
        height: 455px;
        position: relative;
        box-sizing: border-box;
        overflow: auto;
        border-width: 0px;
    }
    .chat_left{
        width: 100%;
        height: 120px;
        margin-top: 20px;
    }
    .chat_left_item_1{
        width: 50px;
        height: 50px;
        background-color: #4459AB;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 25px;
    }
    .chat_left_item_2{
        width: 55%;
        height: 100px;
        float: left;
        margin-top: 10px;
    }
    .chat_left_item_2 .chat_left_chat{
        float: left;
    }
    .chat_left_item_2 .chat_left_content{
        padding: 15px;
        margin-top: 10px;
        background-color: #f4f5f7;
        display: inline-block;
        border-radius: 10px;
        border-top-left-radius: 0px;
    }
    /* 右边 */
    .chat_right{
        width: 100%;
        height: 120px;
        margin-top: 20px;
    }
    .chat_right_item_1{
        width: 50px;
        height: 50px;
        background-color: #4459AB;
        float: right;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        line-height: 50px;
        color: white;
        border-radius: 25px;
    }
    .chat_right_item_2{
        width: 55%;
        height: 100px;
        float: right;
        margin-top: 10px;
    }
    .chat_right_time{
        width: 100%;
        text-align: right;
    }
    .chat_right_content{
        float: right;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
        border-top-right-radius: 0px;
        background-color: #4F7cff;
        color: white;
    }
    /* foot */
    .chat_foot{
        width: 450px;
        height: 130px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
    }
    .chat_context{
        width: 100%;
        height: 100%;
        font-size: 17px;
        box-sizing: border-box;
        outline: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-width: 0px;
        padding: 16px;
    }
    .chat_commit{
        width: 80px;
        height: 30px;
        color: white;
        background-color: #4F7cff;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        bottom: 20px;
        margin-right: 10px;
    }
    .chat_context{
        resize: none;
    }
    .chat_context::placeholder{
        color: black;
        font-weight: 500k;
    }
    .line{
        width: 100%;
        border-top: 1px;
        border-color: #f4f5f7;
        border-style: solid;
    }

</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/minejs.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var sever_url='http://' + document.domain + ':' + location.port + '/test'
    var user_me=eval("{{user_me|safe}}")
    var user_other=eval("{{user_other|safe}}")
    var room_id;
    $(document).ready(function(){
      //定义初始化函数
      
      var socket = io.connect(sever_url);
      
      //定义起始,比如进入房间等行为
      socket.emit('enter_room',{'user_id1': user_me,'user_id2': user_other})
      
      //定义起始函数对应后端的响应函数比如后端返回的历史记录，打印在方块内
      socket.on('has_enter', function(msg) 
      {
        room_id=msg['room_id'];
        var chat_history=JSON.parse(msg['chat_history']);
        for (var iter in chat_history){
          var new_iter=chat_history[iter];
          for(var p in new_iter){
          if(p==user_me){
                $('#log').append('<div class="chat_right"><div class="chat_right_item_1 "><img style="width:50px;height:50px;" class="pull-left img-circle" src="{{url_for('static', filename='images/user/'+user_id|string+'/head.jpg')}}"></div><div class="chat_right_item_2"><div class="chat_right_time"></div><div class="chat_right_content">'+new_iter[p]+ '</div></div></div>');
          }else{$('#log').append('<div class="chat_left clearfix"><div class="chat_left_item_1 "><img style="width:50px;height:50px;" class="pull-left img-circle" src="{{url_for('static', filename='images/user/'+user_other|string+'/head.jpg')}}"></div><div class="chat_left_item_2"><div class="chat_time"></div><div class="chat_left_content">'+new_iter[p] + '</div></div></div>')}

          }
        }
        var div = document.getElementById('log');
        log.scrollTop = log.scrollHeight;
      });

      //定义监听函数，接受消息
      socket.on('accept_message', function(msg) {
      if(parseInt(msg['publisher'])==user_other){
        $('#log').append('<div class="chat_left clearfix"><div class="chat_left_item_1 "><img style="width:50px;height:50px;" class="pull-right img-circle" src="{{url_for('static', filename='images/user/'+user_other|string+'/head.jpg')}}"></div><div class="chat_left_item_2"><div class="chat_time"></div><div class="chat_left_content">'+msg['data'] + '</div></div></div>');
        }else{
                $('#log').append('<div class="chat_right"><div class="chat_right_item_1 "><img style="width:50px;height:50px;" class="pull-left img-circle" src="{{url_for('static', filename='images/user/'+user_id|string+'/head.jpg')}}"></div><div class="chat_right_item_2"><div class="chat_right_time"></div><div class="chat_right_content">'+msg['data'] + '</div></div></div>');

        }
        if(parseInt(msg['publisher'])==user_other)
          socket.emit('ensure_receive',{'meassge_id':msg['id']})
        var div = document.getElementById('log');
        log.scrollTop = log.scrollHeight;}
        );



      //定义在房间内行为
      $('form#send_room').submit(function(event) {
        socket.emit('new_message', {"user_id": user_me,"room_id": room_id,"recevier_id":user_other,'content':$('#room_data').val()});
        return false;
      });

    });







</script>
<style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.log{
   overflow: hidden;
   overflow-y: scroll;
   white-space: nowrap;
   height:500px;
   width:100%;
 }
.log::-webkit-scrollbar {
    width: 0;
}

</style>


{% include "common/header.html" %}<!--引入网页的头部模板-->
<body style="background: url(../static/images/img_login.jpg) no-repeat;background-size:100%;">
    <div class="text-center" style="margin-top:20px;background:#00BFFF;color:white;height:100px">
        <br>
        <h1 style="margin-top:10px;">{{other_name}}</h1>
    </div>
    <div class="container">
        <div class="row myCenter">
            <div class="col-xs-12 col-md-10 col-center-block">
                <div id="log" class="log"></div>
                <hr>
                <form id="send_room" method="POST" action="#">
                    <div class="form-group row" style="height:100px">
                        <div class="col-md-11">
                            <input type="text" required class="form-control" name="room_data" id="room_data"
                                   placeholder="Message">
                        </div>
                        <input type="submit" class="btn btn-success pull-right" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>