<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>登录</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>

</head>

<body style="background: url(../static/images/img_login.jpg) no-repeat;background-size:cover;font-size: 15px;">
<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-offset-1 col-md-offset-1" method="post">
            <h3 class="form-title col-md-offset-1">登录</h3>
            <div class="col-sm-11 col-md-11">
                <hr>
                <div class="form-group">
                    <!--        学号图标和学号输入框            -->
                    <label class="control-label col-sm-3 col-md-3">学号:</label>
                    <div class="col-md-9">
                        <input class="form-control required" type="text" name="no" id="no" placeholder="请输入学号" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        密码输入框            -->
                    <label class="control-label col-sm-3 col-md-3">密码:</label>
                    <div class="col-md-9">
                        <input class="form-control required" type="password" name="password" id="password"
                               placeholder="密码至少7位" required>
                        <span class="label label-warning" id=pass1pan style="color:red;"></span>
                    </div>
                </div>
                <p class="text-center"><a href={{url_for("basic.register")}} >没有账号？立即注册</a></p>

                <!--         登录按钮           -->
                <div class="form-group">
                    <input type="submit" value="登录" onsubmit="checkfirst()" class="btn btn-success pull-right">
                </div>
            </div>
        </form>
    </div>
    {{get_flashed_messages()[0]}}

</div>
<!--<center><h1>登录</h1></center>-->
<!--<div class="div1" style="width:600px;margin-left:auto;margin-right:auto">-->
<!--    <main>-->
<!--        <form method="post">-->
<!--            <center><p>账号:<input type="text" name="name" id=name required></p></center>-->
<!--            <center><p>密码:<input type="password" name="password" id=password required></p></center>-->
<!--            <center><input type="submit" value="登录" onclick="return True"></center>-->
<!--        </form>-->
<!--        <center><a href={{url_for("basic.register")}}>-->
<!--            <button>注册</button>-->
<!--        </a></center>-->

<!--        <center>{{get_flashed_messages()[0]}}</center>-->
<!--    </main>-->
<!--</div>-->
</body>

</html>