<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>同济论坛</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>

</head>

<body>
<nav class="navbar navbar-fixed-top opacity-100">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img style="max-width:100%;overflow:hidden;"
                     src="{{ url_for('static', filename='images/img_title.png') }}"/>
            </div>
            <div class="col-md-2 col-md-offset-6 text-center">
                <ul class="list-inline" style="margin-top: 20px;">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div>
    <img style="max-width:100%;overflow:hidden;" src="{{ url_for('static', filename='images/header-tree.jpg') }}">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!--            {% for post in posts %}-->
            <!--            <a href={{url_for("basic.login")}}>-->
            <!--                <div class="panel panel-default">-->
            <!--                    <div class="panel-heading">-->
            <!--                        <h3 class="panel-title">-->
            <!--                            {{post.username}}-->
            <!--                        </h3>-->
            <!--                    </div>-->
            <!--                    <div class="panel-body">-->
            <!--                        {{post.content}}-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </a>-->
            <!--            {%endfor%}-->
            <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>
                        <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>
                        <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>
                        <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>
                        <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>
                        <a href={{url_for("basic.login")}}>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            2052150
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h4>荷塘月色-朱自清</h4>
                        <p>这几天心里颇不宁静。今晚在院子里坐着乘凉，忽然想起日日走过的荷塘，在这满月的光里，总该另有一番样子吧。月亮 […]</p>
                        <em>5月 3, 2022</em>
                    </div>
                </div>
            </a>


        </div>
        {% include "common/sidebar.html" %}<!--引入网页的侧边模板-->

    </div><!--/row-->
    {% include "common/footer.html" %}<!--引入网页的底部模板-->
</div>

</body>
</html>