<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>同济论坛</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>
    <script type="text/javascript" charset="utf-8">

    </script>

</head>

<body>
{% if islogin %}
{% include "common/header.html" %}<!--引入网页的头部模板-->
<div>
    <img style="max-width:100%;overflow:hidden;" src="{{ url_for('static', filename='images/header-tree.jpg') }}">
</div>

<div class="container">
    <div class="row">
        <div>
            <ul>
                {% for post in pages.items %}
                <a href={{url_for("basic.viewpost",post_id=post.id)}}>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                {{post.post_content}}
                            </p>
                            {% if post.id %}
                            <img class="img-thumbnail " style="height:200px;"
                                 src="{{ url_for('static', filename='images/{{post.id}}.jpg') }}"/>
                            {% endif %}
                            <hr>
                            <p><small>{{post.update_at}}</small></p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </ul>
            <nav class="paginate">
                <nav>
                    {% if pages.has_prev %}
                    <button onclick="window.location.href='page={{ pages.prev_num }}'">上一页</button>
                    {% endif %}

                    <button>第{{ pages.page }}页</button>

                    {% if pages.has_next and pages.page < 5 %}
                    <button onclick="window.location.href='main?page={{pages.next_num}}'">下一页</button>
                    {% else %}
                    <button>最后一页</button>
                    {% endif %}

                    <nav class="first-last-page">
                        <button onclick="window.location.href='main?page=1'">首页</button>
                        <button onclick="window.location.href='main?page={{ pages.pages}}'">尾页</button>
                        <button onclick="window.location.href='main'">全部显示</button>
                    </nav>
                </nav>


            </nav>
        </div>
    </div><!--/row-->
    {% include "common/footer.html" %}<!--引入网页的底部模板-->
</div>
{% else %}
<div>
    <nav class="navbar navbar-default navbar-static navbar-fixed-top" role="navigation" style="background:#F5F5F5">
        <div class="container">
            <div class="navbar-header">
                <img style="height:50px;overflow:hidden;"
                     src="{{ url_for('static', filename='images/img_title.png') }}"/>
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li><a href={{url_for("basic.register")}}>注册</a></li>
                    <li><a href={{url_for("basic.login")}}>登录</a></li>
                </ul>
            </div><!-- /.container -->
        </div>
    </nav><!-- /.navbar -->
</div>
<br><br>

<div>
    <img style="max-width:100%;overflow:hidden;" src="{{ url_for('static', filename='images/header-tree.jpg') }}">
</div>

<div class="container">
    <div class="row">
        <div>
            <ul>
                {% for post in pages.items %}
                <a href={{url_for("basic.viewpost",post_id=post.id)}}>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                {{post.post_content}}
                            </p>
                            {% if post.id %}
                            <img class="img-thumbnail " style="height:200px;"
                                 src="{{ url_for('static', filename='images/{{post.id}}.jpg') }}"/>
                            {% endif %}
                            <hr>
                            <p><small>{{post.update_at}}</small></p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </ul>
            <nav class="paginate">
                <nav>
                    {% if pages.has_prev %}
                    <button onclick="window.location.href='page={{ pages.prev_num }}'">上一页</button>
                    {% endif %}

                    <button>第{{ pages.page }}页</button>

                    {% if pages.has_next and pages.page < 5 %}
                    <button onclick="window.location.href='main?page={{pages.next_num}}'">下一页</button>
                    {% else %}
                    <button>最后一页</button>
                    {% endif %}

                    <nav class="first-last-page">
                        <button onclick="window.location.href='main?page=1'">首页</button>
                        <button onclick="window.location.href='main?page={{ pages.pages}}'">尾页</button>
                        <button onclick="window.location.href='main'">全部显示</button>
                    </nav>
                </nav>
            </nav>
        </div>
    </div><!--/row-->
    {% include "common/footer.html" %}<!--引入网页的底部模板-->
</div>
{% endif %}
</body>
</html>