<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>注册</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>


</head>
<body style="background: url(../static/images/img_login.jpg) no-repeat;background-size:cover;font-size: 15px;">
<div class="container">
    <div class="form row">
        <form class="form-horizontal" id="mainform" method="post">
            <h3 class="form-title col-md-offset-1">注册</h3>
            <div class="col-sm-11 col-md-11">
                <hr>
                <div class="form-group">
                    <!--        学号图标和学号输入框            -->
                    <label class="control-label col-sm-4 col-md-4">学号:</label>
                    <div class="col-md-8">
                        <input class="form-control required" type="text" name="no" id="no" placeholder="请输入学号" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        用户名输入框            -->
                    <label class="control-label col-sm-4 col-md-4">用户名:</label>
                    <div class="col-md-8">
                        <input class="form-control required" type="text" name="username" id="username"
                               placeholder="请输入用户名" required>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        班级输入框            -->
                    <label class="control-label col-sm-4 col-md-4">班级:</label>

                    <div class="col-md-8">
                        <select class="form-control" name="classname" id="classname">
                            {% for class in class_list %}
                            <option>{{class}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        密码输入框            -->
                    <label class="control-label col-sm-4 col-md-4">密码:</label>
                    <div class="col-md-8">
                        <input class="form-control required" type="password" name="password" id="password"
                               placeholder="密码至少7位" required>
                        <span class="label label-warning" id=pass1pan style="color:red;"></span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        密码输入框            -->
                    <label class="control-label col-sm-4 col-md-4">确认密码:</label>
                    <div class="col-md-8">
                        <input class="form-control required" type="password" name="password2" id="password2"
                               placeholder="请重新输入密码" required>
                        <span class="label label-warning" id=passpan style="color:red;"></span>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <label class="control-label col-sm-4 col-md-4">简介:</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="2" name="t_text" placeholder="请输入个人简介"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <!--        寝室号框            -->
                    <label class="control-label col-sm-4 col-md-4">寝室:</label>
                    <div class="col-md-8">
                        <input class="form-control required" type="text" name="dor" id="dor"
                               placeholder="请输入寝室号" required>
                    </div>
                </div>

                <!--注册按钮-->
                <div class="form-group">
                    <input type="submit" value="注册" onclick="return shouldsubmit()" class="btn btn-success pull-right">
                </div>
            </div>
        </form>
    </div>
    {{get_flashed_messages()[0]}}
    {% include "common/footer.html" %}<!--引入网页的底部模板-->
</div>
</body>
</html>