<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>注册</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/minecss.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/minejs.js') }}"></script>


</head>
<body>
{% include "common/header.html" %}<!--引入网页的头部模板-->

<div class="text-center" style="margin-top:20px;background:#00BFFF;color:white;height:100px">
    <br>
    <h1 style="margin-top:10px;">{{other_name}}</h1>
</div>
<div class="container">
    <div class="row myCenter">
        <div class="col-xs-12 col-md-10 col-center-block">
            <div id="log" class="log row"></div>
            <hr>
            <form id="send_room" method="POST" action="#" role="form">
                <div class="form-group row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="room_data" id="room_data" placeholder="Message">
                    </div>
                    <input type="submit" class="btn btn-success pull-right" value="Send to Room">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
