<hr>

<footer>

    <div class="row">
        <!-- 居中 text-center -->
        <div class="col-xs-12 text-center">
            <ul class="list-inline">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">招贤纳士</a></li>
                <li><a href="#">法律声明</a></li>
                <li><a href="#">友情链接</a></li>
                <li><a href="#">心理关怀</a></li>
                <li><a href="#">服务声明</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            如有问题请拨打电话021-65989006咨询
        </div>
    </div>
</footer>