<div class="row">
    <div>

        {% for post in pages %}
        <!--            <a href={{url_for("basic.viewpost",post_id=post.id)}}></a>-->
        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-md-12">
                    <img class="img-circle" style="width:40px;height:40px;"
                         src="{{url_for('static', filename='images/user/'+post.publish_user_id|string+'/head.jpg')}}">
                    <span style="vertical-align:middle;font-size: 20px">{{post.publish_user_name}}</span>
                    {% if islogin %}
                    <a href={{url_for("basic.viewpost",post_id=post.id)}}>
                        <div class="pull-right">查看详情</div>
                    </a>
                    {% endif %}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    <p>{{post.post_content}}</p>
                    {% if post.picture_number %}
                    <div style="height:150px">
                        <img class="img-thumbnail" style="max-height:100%;width:auto"
                             src="{{url_for('static', filename='images/post/'+post.id|string+'/'+post.picture_number|string+'.jpg')}}">
                    </div>
                    {% endif %}
                    <p style="color:SlateGray "><small>{{post.update_at.strftime("%Y-%m-%d %H:%M:%S") }}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div><!--/row-->