<div class="row">
    <div>
        <ul>
            {% for post in pages.items %}
            <!--            <a href={{url_for("basic.viewpost",post_id=post.id)}}></a>-->
            <div class="panel panel-default">
                <div class="panel-body row">
                    <div class="col-md-12">
                        <img class="img-circle" style="width:40px;height:40px;"
                             src="{{url_for('static', filename='images/user/'+post.publish_user_id|string+'/head.jpg')}}">
                        <span style="vertical-align:middle;font-size: 20px">{{post.publish_user_name}}</span>
                        {% if islogin %}
                        <a href={{url_for("basic.viewpost",post_id=post.id)}}><div class="pull-right">查看详情</div></a>
                        {% endif %}
                    </div>
                    <div class="col-md-offset-1 col-md-11">
                        <p>{{post.post_content}}</p>
                        {% if post.picture_number %}
                        <div style="height:150px">
                            <img class="img-thumbnail" style="max-height:100%;width:auto"
                                 src="{{url_for('static', filename='images/post/'+post.id|string+'/'+picture_number|string+'.jpg')}}">
                        </div>
                        {% endif %}
                        <p><small>{{post.update_at}}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
        <nav class="paginate">
            <nav>
                {% if pages.has_prev %}
                <button onclick="window.location.href='page={{ pages.prev_num }}'">上一页</button>
                {% endif %}

                <button>第{{ pages.page }}页</button>

                {% if pages.has_next and pages.page < 5 %}
                <button onclick="window.location.href='main?page={{pages.next_num}}'">下一页</button>
                {% else %}
                <button>最后一页</button>
                {% endif %}

                <nav class="first-last-page">
                    <button onclick="window.location.href='main?page=1'">首页</button>
                    <button onclick="window.location.href='main?page={{ pages.pages}}'">尾页</button>
                    <button onclick="window.location.href='main'">全部显示</button>
                </nav>
            </nav>


        </nav>
    </div>
</div><!--/row-->