<div class="col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">网站热帖</div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫” <small class="pull-right">20220427</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫” <small class="pull-right">20220427</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫” <small class="pull-right">20220427</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫” <small class="pull-right">20220427</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫”<small class="pull-right">20220427</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="glyphicon glyphicon-film"></span>&nbsp;
                    发挥特长 迅速反应 多语种输出助力国际战“疫”<small class="pull-right">20220427</small>
                </a>
            </li>
        </ul>
    </div>
</div><!--/.sidebar-offcanvas-->